modules = ["nodejs-20", "ruby-3.2", "swift-5.8"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Install and Run"

[[workflows.workflow]]
name = "Install and Run"
author = 24709384
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git checkout react-native"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node --version"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"
